@font-face {
    font-family: 'Audimat'; /*a name to be used later*/
    src:url('font/audimat.otf'); /*URL to font*/
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 120px;
    margin-left:0px;
}

h1 {
    margin-left: 40px;
    margin-bottom: 20px;
    display: block;
    font-size: 5em;
    font-family: 'Audimat';
}

a {
    text-decoration: none;
    color: #fffcba;
}

#header {
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.wrapper {
    margin: 30px auto 0;
    min-width: 30em; 
    max-width: 1300px;
    overflow: hidden;
}

.footer {
    font-family: 'Audimat';
    font-size: 20px;
    color:white;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 60px;
    background-color: #0b0a11;
}

.username {
    color:white;
    font-family: 'Audimat';
    font-weight: bold;
    font-size: 2em;
    position:relative;
    display: block;
}

.member {
    color:white;
    background: rgba(0,0,0,0.3);
    padding: 30px;
}

.avatar {
    border-radius: 50%;
    border: 5px solid white;
    width: 200px;
    float: left;
    margin-top: 3px;
    margin-right: 15px;
}

.inventory {
    background: rgba(0,0,0,0.5);
    width:80%;
    height: 200px;
}

.inventory td {
    width: 33%; 
    padding-bottom: 33%; 
    height: 0;
    border: 2px solid white;
}

.tooltip{
    display: inline;
    position: relative;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px; 
 
    position: absolute;
    z-index: 1;
    
    opacity: 0;
    transition: opacity 0.2s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}


#planets {
    float:left;
    left: 20px;
    right: 200px;
}

#doc {
    color:white;
    background: rgba(0,0,0,0.3);
    left: auto;
    right: 150px;
    padding: 10px;
    margin:auto;
    overflow: hidden;
}

#doc p {
    font-family: 'Audimat';
    font-size: 30px;
    margin: 20px;
}

#github {
    height:320px;
    width:320px;
    background: url(img/github.png);
    
}

#github:hover {
    background: url(img/github.gif);
    
}